In [18]:
import streamlit as st
import pandas as pd
import numpy as np

D_ALUNO = pd.read_csv("data/refined/d_aluno.csv")
D_CURSO = pd.read_csv("data/refined/d_curso.csv")
D_DISCIPLINA = pd.read_csv("data/refined/d_disciplina.csv")
D_PERIODO = pd.read_csv("data/refined/d_periodo.csv")
F_DESEMPENHO_ACADEMICO = pd.read_csv("data/refined/f_desempenho_academico.csv")
F_MATRICULA_ALUNO = pd.read_csv("data/refined/f_matricula_aluno.csv")

In [19]:
D_PERIODO["periodo"] = (
    D_PERIODO["ano"].astype(str) + "/" + D_PERIODO["semestre"].astype(str)
)

In [3]:
F_MATRICULA_ALUNO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2650 entries, 0 to 2649
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   situacao_matricula       2650 non-null   object
 1   periodos_integralizados  2650 non-null   int64
 2   carga_horaria_acumulada  2650 non-null   int64
 3   periodo                  2650 non-null   object
 4   ano                      2650 non-null   int64
 5   semestre                 2650 non-null   int64
 6   sk_d_aluno               2650 non-null   object
 7   sk_d_curso               2650 non-null   object
dtypes: int64(4), object(4)
memory usage: 165.8+ KB

In [5]:

F_MATRICULA_ALUNO['situacao_matricula'].unique().tolist()

['Cancelada por conclusão de curso',
 'Cancelada por abandono',
 'Cancelamento por ultrapassagem do prazo máximo de trancamento',
 'Cancelada por abandono Definitivo',
 'Cancelamento por opção de curso',
 'Cancelada por transferência',
 'Cancelada por rendimento escolar insuficiente',
 'Cancelamento a pedido',
 'Cancelamento por conclusão de Mobilidade Acadêmica',
 'Cancelada por ultrapassar prazo de integralização',
 'Cancelamento por opção de instituição',
 'Exclusão Lógica',
 'Cancelada por outros motivos',
 'Ativa',
 'Rematrícula por destrancamento ou descancelamento',
 'Trancamento automático: Perigo de cancelamento imediato',
 'Rematrícula por ativação do segmento referente via AGF',
 'Trancada',
 'Trancamento Solicitado',
 'Rematrícula por destrancamento automático',
 'Cancelada por morte']

In [13]:
df_filtered = F_MATRICULA_ALUNO.groupby(['periodo', 'situacao_matricula', 'ano', 'semestre']).size().reset_index(name='quantidade').sort_values('quantidade', ascending=False)

[0, 1, 2]

In [7]:
media_cra = (
    FATO_PERIODO.groupby(["ano", "semestre", "periodo"])["cr_acumulado"]
    .mean()
    .reset_index(name="cra")
)
semestres = media_cra["semestre"].unique().tolist()

In [8]:
semestres

[0, 1, 2, 3]

In [29]:
fato_periodo = F_DESEMPENHO_ACADEMICO.merge(
D_PERIODO, on=["sk_d_periodo"], how="inner"
)

media_cra = (
fato_periodo.groupby(["ano", "semestre", "periodo"])["cr_acumulado"]
.mean()
.reset_index(name="Média CRA")
)

In [30]:
df = media_cra.dropna(subset=['Média CRA'])

In [41]:
last_rows = df.iloc[-1:, :]
chart = st.line_chart(last_rows, x="periodo", y="Média CRA")

for i in range(1, 101):
    new_rows = df.iloc[-1:, 2:4]
    status_text.text("%i%% Complete" % i)
    chart.add_rows(new_rows)
    progress_bar.progress(i)
    time.sleep(0.05)

   periodo  Média CRA
71  2022/1   6.930055

In [61]:
df.iloc[0:, :]

     ano  semestre periodo  Média CRA
1   2000         1  2000/1   6.266364
2   2000         2  2000/2   6.181507
4   2001         1  2001/1   5.644000
5   2001         2  2001/2   6.013685
7   2002         1  2002/1   6.251215
8   2002         2  2002/2   6.225529
10  2003         1  2003/1   6.280998
11  2003         2  2003/2   6.293237
13  2004         1  2004/1   6.325625
14  2004         2  2004/2   6.230886
16  2005         1  2005/1   6.139759
17  2005         2  2005/2   5.945728
20  2006         1  2006/1   5.968939
21  2006         2  2006/2   5.928799
23  2007         1  2007/1   5.856486
24  2007         2  2007/2   5.685479
26  2008         1  2008/1   5.747508
27  2008         2  2008/2   5.763126
29  2009         1  2009/1   5.799418
30  2009         2  2009/2   5.643900
32  2010         1  2010/1   5.821135
33  2010         2  2010/2   5.776026
36  2011         1  2011/1   5.727500
37  2011         2  2011/2   5.645320
39  2012         1  2012/1   5.970169
40  2012         2  2012/2   5.656748
42  2013         1  2013/1   5.654926
43  2013         2  2013/2   5.502101
46  2014         1  2014/1   5.477205
47  2014         2  2014/2   5.462047
50  2015         1  2015/1   6.068629
51  2015         2  2015/2   5.661625
53  2016         1  2016/1   5.735509
54  2016         2  2016/2   6.436364
56  2017         1  2017/1   6.075862
57  2017         2  2017/2   5.804760
59  2018         1  2018/1   5.857064
60  2018         2  2018/2   5.993823
62  2019         1  2019/1   6.040076
63  2019         2  2019/2   5.921531
65  2020         1  2020/1   6.546877
66  2020         2  2020/2   6.748898
68  2021         1  2021/1   6.910684
69  2021         2  2021/2   6.863650
71  2022         1  2022/1   6.930055

In [47]:
np.random.randn(1, 1)

array([[1.51211441]])

In [ ]:
progress_bar = st.sidebar.progress(0)
status_text = st.sidebar.empty()
last_rows = np.random.randn(1, 1)
chart = st.line_chart(last_rows)

for i in range(1, 101):
    new_rows = last_rows[-1, :] + np.random.randn(5, 1).cumsum(axis=0)
    status_text.text("%i%% Complete" % i)
    chart.add_rows(new_rows)
    progress_bar.progress(i)
    last_rows = new_rows
    time.sleep(0.05)